# Titanic survival - logistic regression model

In [1]:
#Load modules
import numpy as np
import pandas as pd
# Import machine learning methods
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [2]:
data = pd.read_csv('C:/t_data/processed_data.csv')
# Make all data 'float' type
data = data.astype(float)

In [3]:
data.head(10)

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,AgeImputed,EmbarkedImputed,CabinLetterImputed,...,Embarked_missing,CabinLetter_A,CabinLetter_B,CabinLetter_C,CabinLetter_D,CabinLetter_E,CabinLetter_F,CabinLetter_G,CabinLetter_T,CabinLetter_missing
0,1.0,0.0,3.0,22.0,1.0,0.0,7.2500,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,2.0,1.0,1.0,38.0,1.0,0.0,71.2833,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3.0,1.0,3.0,26.0,0.0,0.0,7.9250,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,4.0,1.0,1.0,35.0,1.0,0.0,53.1000,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5.0,0.0,3.0,35.0,0.0,0.0,8.0500,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
5,6.0,0.0,3.0,28.0,0.0,0.0,8.4583,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
6,7.0,0.0,1.0,54.0,0.0,0.0,51.8625,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
7,8.0,0.0,3.0,2.0,3.0,1.0,21.0750,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
8,9.0,1.0,3.0,27.0,0.0,2.0,11.1333,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
9,10.0,1.0,2.0,14.0,1.0,0.0,30.0708,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [4]:
#show a summary of the data
data.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,AgeImputed,EmbarkedImputed,CabinLetterImputed,...,Embarked_missing,CabinLetter_A,CabinLetter_B,CabinLetter_C,CabinLetter_D,CabinLetter_E,CabinLetter_F,CabinLetter_G,CabinLetter_T,CabinLetter_missing
count,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,...,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.361582,0.523008,0.381594,32.204208,0.198653,0.002245,0.771044,...,0.002245,0.016835,0.052750,0.066218,0.037037,0.035915,0.014590,0.004489,0.001122,0.771044
std,257.353842,0.486592,0.836071,13.019697,1.102743,0.806057,49.693429,0.399210,0.047351,0.420397,...,0.047351,0.128725,0.223659,0.248802,0.188959,0.186182,0.119973,0.066890,0.033501,0.420397
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,22.000000,0.000000,0.000000,7.910400,0.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200,0.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,668.500000,1.000000,3.000000,35.000000,1.000000,0.000000,31.000000,0.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [5]:
# Drop Passengerid (axis=1 indicates we are removing a column rather than a row)
# We drop passenger ID as it is not original data
data.drop('PassengerId', inplace=True, axis=1)

## Looking at a summary of passengers who survived or did not survive

In [6]:
mask = data['Survived'] == 1 # Mask for passengers who survive
survived = data[mask] # filter using mask

mask = data['Survived'] == 0 # Mask for passengers who died
died = data[mask] # filter using mask

In [7]:
survived.mean()

Survived                1.000000
Pclass                  1.950292
Age                    28.291433
SibSp                   0.473684
Parch                   0.464912
Fare                   48.395408
AgeImputed              0.152047
EmbarkedImputed         0.005848
CabinLetterImputed      0.602339
CabinNumber            18.961988
CabinNumberImputed      0.611111
male                    0.318713
Embarked_C              0.271930
Embarked_Q              0.087719
Embarked_S              0.634503
Embarked_missing        0.005848
CabinLetter_A           0.020468
CabinLetter_B           0.102339
CabinLetter_C           0.102339
CabinLetter_D           0.073099
CabinLetter_E           0.070175
CabinLetter_F           0.023392
CabinLetter_G           0.005848
CabinLetter_T           0.000000
CabinLetter_missing     0.602339
dtype: float64

In [8]:
died.mean()

Survived                0.000000
Pclass                  2.531876
Age                    30.028233
SibSp                   0.553734
Parch                   0.329690
Fare                   22.117887
AgeImputed              0.227687
EmbarkedImputed         0.000000
CabinLetterImputed      0.876138
CabinNumber             6.074681
CabinNumberImputed      0.885246
male                    0.852459
Embarked_C              0.136612
Embarked_Q              0.085610
Embarked_S              0.777778
Embarked_missing        0.000000
CabinLetter_A           0.014572
CabinLetter_B           0.021858
CabinLetter_C           0.043716
CabinLetter_D           0.014572
CabinLetter_E           0.014572
CabinLetter_F           0.009107
CabinLetter_G           0.003643
CabinLetter_T           0.001821
CabinLetter_missing     0.876138
dtype: float64

In [9]:
summary = pd.DataFrame() # New empty DataFrame
summary['survived'] = survived.mean()
summary['died'] = died.mean()

In [10]:
summary

                      survived       died
Survived              1.000000   0.000000
Pclass                1.950292   2.531876
Age                  28.291433  30.028233
SibSp                 0.473684   0.553734
Parch                 0.464912   0.329690
Fare                 48.395408  22.117887
AgeImputed            0.152047   0.227687
EmbarkedImputed       0.005848   0.000000
CabinLetterImputed    0.602339   0.876138
CabinNumber          18.961988   6.074681
CabinNumberImputed    0.611111   0.885246
male                  0.318713   0.852459
Embarked_C            0.271930   0.136612
Embarked_Q            0.087719   0.085610
Embarked_S            0.634503   0.777778
Embarked_missing      0.005848   0.000000
CabinLetter_A         0.020468   0.014572
CabinLetter_B         0.102339   0.021858
CabinLetter_C         0.102339   0.043716
CabinLetter_D         0.073099   0.014572
CabinLetter_E         0.070175   0.014572
CabinLetter_F         0.023392   0.009107
CabinLetter_G         0.005848   0.003643
CabinLetter_T         0.000000   0.001821
CabinLetter_missing   0.602339   0.876138

In [12]:
#Divide into X (features) and y (labels)
X = data.drop('Survived',axis=1) # X = all 'data' except the 'survived' column
y = data['Survived'] # y = 'survived' column from 'data'

In [13]:
#Divide into training and tets sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25)

In [14]:
X_train.std(), X_train.mean()

(Pclass                  0.845118
 Age                    13.281747
 SibSp                   0.967707
 Parch                   0.830707
 Fare                   50.403563
 AgeImputed              0.386656
 EmbarkedImputed         0.054677
 CabinLetterImputed      0.430711
 CabinNumber            27.954135
 CabinNumberImputed      0.426193
 male                    0.479707
 Embarked_C              0.397349
 Embarked_Q              0.272791
 Embarked_S              0.449306
 Embarked_missing        0.054677
 CabinLetter_A           0.121524
 CabinLetter_B           0.231799
 CabinLetter_C           0.263347
 CabinLetter_D           0.189943
 CabinLetter_E           0.193554
 CabinLetter_F           0.127358
 CabinLetter_G           0.066915
 CabinLetter_T           0.038691
 CabinLetter_missing     0.430711
 dtype: float64,
 Pclass                  2.285928
 Age                    29.215823
 SibSp                   0.476048
 Parch                   0.399701
 Fare                   32.116772
 AgeImputed              0.182635
 EmbarkedImputed         0.002994
 CabinLetterImputed      0.754491
 CabinNumber            12.107784
 CabinNumberImputed      0.761976
 male                    0.642216
 Embarked_C              0.196108
 Embarked_Q              0.080838
 Embarked_S              0.720060
 Embarked_missing        0.002994
 CabinLetter_A           0.014970
 CabinLetter_B           0.056886
 CabinLetter_C           0.074850
 CabinLetter_D           0.037425
 CabinLetter_E           0.038922
 CabinLetter_F           0.016467
 CabinLetter_G           0.004491
 CabinLetter_T           0.001497
 CabinLetter_missing     0.754491
 dtype: float64)

## Standardise data

In [15]:
X_train.astype(float)

,Pclass,Age,SibSp,Parch,Fare,AgeImputed,EmbarkedImputed,CabinLetterImputed,CabinNumber,CabinNumberImputed,...,Embarked_missing,CabinLetter_A,CabinLetter_B,CabinLetter_C,CabinLetter_D,CabinLetter_E,CabinLetter_F,CabinLetter_G,CabinLetter_T,CabinLetter_missing
646,3.0,19.0,0.0,0.0,7.8958,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
519,3.0,32.0,0.0,0.0,7.8958,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
598,3.0,28.0,0.0,0.0,7.2250,1.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
84,2.0,17.0,0.0,0.0,10.5000,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
209,1.0,40.0,0.0,0.0,31.0000,0.0,0.0,0.0,31.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
449,1.0,52.0,0.0,0.0,30.5000,0.0,0.0,0.0,104.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
158,3.0,28.0,0.0,0.0,8.6625,1.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
137,1.0,37.0,1.0,0.0,53.1000,0.0,0.0,0.0,123.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
89,3.0,24.0,0.0,0.0,8.0500,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
153,3.0,40.5,0.0,2.0,14.5000,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [16]:
def standardise_data(X_train, X_test):
    
    # Initialise a new scaling object for normalising input data
    sc = StandardScaler() 

    # Set up the scaler just on the training set
    sc.fit(X_train)

    # Apply the scaler to the training and test sets
    train_std=sc.transform(X_train)
    test_std=sc.transform(X_test)
    
    return train_std, test_std

## Fit logistic regression model

In [17]:
X_train_std, X_test_std = standardise_data(X_train, X_test)

In [18]:
model = LogisticRegression()
model.fit(X_train_std,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

## Predict values

Now we can use the trained model to predict survival. We will test the accuracy of both the training and test data sets.

In [19]:
# Predict training and test set labels
y_pred_train = model.predict(X_train_std)
y_pred_test = model.predict(X_test_std)

## Calculate accuracy

In [20]:
accuracy_train = np.mean(y_pred_train == y_train)
accuracy_test = np.mean(y_pred_test == y_test)

print ('Accuracy of predicting training data =', accuracy_train)
print ('Accuracy of predicting test data =', accuracy_test)

Accuracy of predicting training data = 0.8038922155688623
Accuracy of predicting test data = 0.8251121076233184

## Examining the model coefficients (weights)

In [21]:
co_eff = model.coef_[0]
co_eff

array([-0.74192406, -0.5618512 , -0.37608271, -0.04116719,  0.10134174,
       -0.07607071,  0.09851152,  0.03528408,  0.12251522, -0.29058228,
       -1.2524989 ,  0.09085654,  0.07932994, -0.14050218,  0.09851152,
       -0.02518294,  0.01992891, -0.25231706,  0.06805315,  0.14965447,
        0.11774991, -0.02072325, -0.15021024,  0.03528408])

In [22]:
co_eff_df = pd.DataFrame() # create empty DataFrame
co_eff_df['feature'] = list(X) # Get feature names from X
co_eff_df['co_eff'] = co_eff
co_eff_df['abs_co_eff'] = np.abs(co_eff)
co_eff_df.sort_values(by='abs_co_eff', ascending=False, inplace=True)

In [23]:
co_eff_df

                feature    co_eff  abs_co_eff
10                 male -1.252499    1.252499
0                Pclass -0.741924    0.741924
1                   Age -0.561851    0.561851
2                 SibSp -0.376083    0.376083
9    CabinNumberImputed -0.290582    0.290582
17        CabinLetter_C -0.252317    0.252317
22        CabinLetter_T -0.150210    0.150210
19        CabinLetter_E  0.149654    0.149654
13           Embarked_S -0.140502    0.140502
8           CabinNumber  0.122515    0.122515
20        CabinLetter_F  0.117750    0.117750
4                  Fare  0.101342    0.101342
6       EmbarkedImputed  0.098512    0.098512
14     Embarked_missing  0.098512    0.098512
11           Embarked_C  0.090857    0.090857
12           Embarked_Q  0.079330    0.079330
5            AgeImputed -0.076071    0.076071
18        CabinLetter_D  0.068053    0.068053
3                 Parch -0.041167    0.041167
7    CabinLetterImputed  0.035284    0.035284
23  CabinLetter_missing  0.035284    0.035284
15        CabinLetter_A -0.025183    0.025183
21        CabinLetter_G -0.020723    0.020723
16        CabinLetter_B  0.019929    0.019929

## Show predicted probabilities

In [24]:
# Show first ten predicted classes
classes = model.predict(X_test_std)
classes[0:10]

array([0., 0., 0., 0., 0., 1., 1., 1., 0., 1.])

In [25]:
# Show first ten predicted probabilities 
# (note how the values relate to the classes predicted above)
probabilities = model.predict_proba(X_test_std)
probabilities[0:10]

array([[0.91680923, 0.08319077],
       [0.82303061, 0.17696939],
       [0.53654911, 0.46345089],
       [0.69958003, 0.30041997],
       [0.89531295, 0.10468705],
       [0.1290604 , 0.8709396 ],
       [0.12663366, 0.87336634],
       [0.34664462, 0.65335538],
       [0.91580376, 0.08419624],
       [0.43252561, 0.56747439]])